@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --font-family-principal: 'Inter', sans-serif;    
    --branco: #fff;
}

body {
    background-color: #62005f;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    gap: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

header .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.menu li {
    list-style: none;
}

.menu li a {
    color: var(--branco);
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.menu li a img {
    width: 18px;
}

header .contact {
    text-decoration: none;
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    padding: 0 100px;
    min-height: 100vh;
    max-width: 900px;
}

.container-content .welcome {
    background: linear-gradient(101deg, #FD7452 18.7%, #FF4265 102.73%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
    font-weight: 800;
}

.container-content h1 {
    color: var(--branco);
    font-size: 3em;
    font-weight: 300;
}

.container-content h1 span {
    font-weight: 900;
    
}


.container-content p {
    color: var(--branco);
    margin: 20px 0;
}